<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Manage Listing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="./css/manage.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/504d9b5831.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <section id="navigation">
        <div class="container-fluid">
            <!-- Nav Bar -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">TravelBNB</a>
                <ul class="navbar-nav ms-auto">
                    <% if(!host){ %>
                    <li class="nav-item">
                        <a class="nav-link btn rounded-5" href=""> Become a Host </a><!--for users who are not hosts-->
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn rounded-5" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i><img src="images/defaultUser.jpg" alt="profile" class="profile-img1"><!--add image path of user-->
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#"><b>Trips</b></a></li><!--my trips-->
                                <li><a class="dropdown-item" href="#"><b>Wishlists</b></a></li>
                                <li><a class="dropdown-item" href="#"><b>My Dashboard</b></a></li>
                                <!--add dashboard if possible-->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <% if(host){ %>
                                <li><a class="dropdown-item" href="#">Manage listings</a></li><!--for host only-->
                                <li><a class="dropdown-item" href="#">Reserved Properties</a></li><!--for host only-->
                                <% } %>
                                <li><a class="dropdown-item" href="#">My Reservations</a></li><!--add my reservations-->
                                <li><a class="dropdown-item" href="#">My Reviews</a></li><!--add my reviews-->
                                <li><a class="dropdown-item" href="#">My Profile</a></li><!--change to my profile-->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Complain</a></li> <!--remove help option change to complaint-->
                                <li><a class="dropdown-item" href="#">Log out</a></li>


                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
    </section>

    <h2>Manage your listings:</h2>
    <div class="add">
        <button class="btn btn-dark" type="button">Add new property</button>
    </div>
    
    <div class="list-view">
       
        <% result.foreach( element =>{ %>
            <div class="item">
                <img src="/images/defaultUser.jpg" /><!--use first image of the property-->
                <div class="item-desc">
                    <p>
                        Property Name: <%= element.PROPERTYNAME %><br />
                        Property ID: <%= element.PROPERTYID %>><br />
                        Location: <%= element.SPECIFICADDRESS %>, <%= element.CITY %>, <%= element.COUNTRY %><br />
                    </p>
    
                    <div class="item-actions" id="<%= element.PROPERTYID %>">
                        <a class="btn btn-info" href="#" role="button">See Property Description</a>
                        <a class="btn btn-primary" href="#" role="button">Edit Property Detils</a>
                        <button class="btn btn-danger" type="button">Remove Property</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/images/defaultUser.jpg" /><!--use first image of the property-->
                <div class="item-desc">
                    <p>
                        Property Name: <%= element.PROPERTYNAME %><br />
                        Location: <%= element.SPECIFICADDRESS %>, <%= element.CITY %>, <%= element.COUNTRY %><br />
                    </p>
    
                    <div class="item-actions" id="<%= element.PROPERTYID %>">
                        <a class="btn btn-info" href="/room/<%= element.PROPERTYID %>" role="button">See Property Description</a>
                        <a class="btn btn-primary" href="/editProperty/<%= element.PROPERTYID %>" role="button">Edit Property Details</a>
                        <a class="btn btn-danger" type="button" href="/manageListings/<%= element.PROPERTYID %>">Remove Property</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
