<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Search for tourist attractions</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/504d9b5831.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/search1.css">
    <link rel="stylesheet" href="./css/search2.css" />
</head>
<body>
    <section id="navigation">
        <div class="container-fluid">
            <!-- Nav Bar -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">TravelBNB</a>
                <form class="navbar-form mx-auto my-auto" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control-md-5 rounded-3" id="location" placeholder="Search for locations" name="location">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-md rounded-3" style="padding:0;">

                                <img src="./images/search.jpg" width="40" alt="search">
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="navbar-nav ms-auto">
                    <% if(!host){ %>
                    <li class="nav-item">
                        <a class="nav-link btn rounded-5" href=""> Become a Host </a><!--for users who are not hosts-->
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn rounded-5" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i><img src="images/defaultUser.jpg" alt="profile" class="profile-img1"><!--add image path of user-->
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#"><b>Trips</b></a></li><!--my trips-->
                                <li><a class="dropdown-item" href="#"><b>Wishlists</b></a></li>
                                <li><a class="dropdown-item" href="#"><b>My Dashboard</b></a></li>
                                <!--add dashboard if possible-->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <% if(host){ %>
                                <li><a class="dropdown-item" href="#">Manage listings</a></li><!--for host only-->
                                <li><a class="dropdown-item" href="#">Reserved Properties</a></li><!--for host only-->
                                <% } %>
                                <li><a class="dropdown-item" href="#">My Reservations</a></li><!--add my reservations-->
                                <li><a class="dropdown-item" href="#">My Reviews</a></li><!--add my reviews-->
                                <li><a class="dropdown-item" href="#">My Profile</a></li><!--change to my profile-->
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Complain</a></li> <!--remove help option change to complaint-->
                                <li><a class="dropdown-item" href="#">Log out</a></li>


                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
            <div class="tabbing" id="searchOption">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/searchProperties">Search Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Search Travel Destinations</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="body">
        <div class="all-results">

            <div class="row min-vh-100">
                <div class="col" style="border-right:2px solid black;">
                    <div class="content" id="filterOption">
                        <h4 style="margin-top:10px;">Filter Options:</h4>
                        <form>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Place Type
                                </div>

                                <div class="filter-content">
                                    <ul style="list-style:none;">
                                        <li>
                                            <input type="checkbox" id="type-park" name="type-park" value="park" />
                                            <label for="type-park">Amusement Parks</label>
                                        </li>

                                        <li>

                                            <input type="checkbox" id="type-landmark" name="type-landmark" value="landmark" />
                                            <label for="type-landmark">Landmark</label>

                                        </li>

                                        <li>

                                            <input type="checkbox" id="type-beach" name="type-beach" value="beach" />
                                            <label for="type-beach">Beaches</label>

                                        </li>
                                        <li>

                                            <input type="checkbox" id="type-waterfall" name="type-waterfall" value="waterfall" />
                                            <label for="type-waterfall">Waterfall</label>

                                        </li>
                                        <li>

                                            <input type="checkbox" id="type-zoo" name="type-zoo" value="zoo" />
                                            <label for="type-zoo">Zoos and Safari</label>

                                        </li>
                                        <li>

                                            <input type="checkbox" id="type-museum" name="type-museum" value="museum" />
                                            <label for="type-museum">Museum and Gallaries</label>

                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Rating
                                </div>
                                <div class="filter-content">

                                    <ul style="list-style-type:none;">
                                        <li>
                                            <input type="radio" name="rating" id="5-stars" value="5" />
                                            <label for="5-stars">5 stars</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="4-stars" value="4" />
                                            <label for="4-stars">4 stars and above</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="3-stars" value="3" />
                                            <label for="3-stars">3 stars and above</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="2-stars" value="2" />
                                            <label for="2-stars">2 stars and above</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="1-star" value="1" />
                                            <label for="1-star">1 star and above</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex justify-content-left"><button type="submit" class="btn rounded-2" style="border:1px solid black;margin-top:-30px;">Filter</button></div>

                        </form>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="result">
                        <div class="container-fluid">
                            <table height="50px" style="width:100%">
                                <tr>
                                    <td class="result-title" style="font-size:25px;padding-left:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration:underline;">
                                        Showing results for Canada:
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="grid-container">
                        <%= result.foreach( element => { %>
                        <div class="grid-item">
                            <div class="place-image" id="<%= element.TAID %>">
                                     
                                <!-- put  onclick="location.href = 'room?id=<%# result[i]['propertyID'] %>';" in the property-image div.
                                 //then the room page will be accessed like 
                                // app.get('/room', function(req, res, next) {
                                //     res.render('room', {query : req.query.id});
                                // });-->
                              
                                <img src="<%= element.imagepath %>" /><!--may need to do another query to find thumbnail image-->
                            </div>
                            
                            <div class="place-desc">
                                <table>

                                    <tr class="1-row">
                                        <td class="property-name"><%= element.TITLE %></td>
                                        <td class="rating"><%= element.AVGRATING %>/5.0(340)</td>
                                    </tr>
                                    <tr>
                                        <td class="location"><%= element.CITY %>, <%= element.COUNTRY %></td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                        <% )} %>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="footer">

        <div class="container-fluid">
            <div class="row footer-row">
                <div class="col-lg-6 footer-column">
                    <p class="header">Hosting</p>
                    <a href="#" class="link-dark">Try hosting</a>
                    <a href="#" class="link-dark">Explore hosting resources</a>
                    <a href="#" class="link-dark">Visit our community forum</a>
                    <a href="#" class="link-dark">How to host responsibly</a>

                </div>
                <div class="col-lg-6 footer-column">
                    <p class="header">About</p>
                    <a href="#" class="link-dark">Newsroom</a>
                    <a href="#" class="link-dark">Learn about new features</a>
                    <a href="#" class="link-dark">Letter from our founders</a>
                    <a href="#" class="link-dark">Careers</a>





                </div>
            </div>

        </div>

        <div class="copyright">
            <hr>
            <span>©2022 TravelBNB,Inc.</span>
            <i class="fa-solid fa-circle footer-icon"></i>
            <a href="#" class="link-dark">Privacy</a>
            <i class="fa-solid fa-circle footer-icon"></i>
            <a href="#" class="link-dark">Terms</a>
            <i class="fa-solid fa-circle footer-icon"></i>
            <a href="#" class="link-dark">Sitemap</a>



            <a href="#" class="link-dark"><i class="fa-brands fa-instagram-square fa-lg social-media-icons"></i></a>
            <a href="#" class="link-dark"><i class="fa-brands fa-twitter fa-lg social-media-icons"></i></a>
            <a href="#" class="link-dark"><i class="fa-brands fa-facebook fa-lg social-media-icons"></i></a>
        </div>

    </section>

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>
