<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Search properties for rent</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/504d9b5831.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/search1.css">
</head>
<body>
    <section id="navigation">
        <div class="container-fluid">
            <!-- Nav Bar -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">TravelBNB</a>

                <form class="navbar-form mx-auto my-auto" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control-md-5 rounded-3" id="location" placeholder="Search By Country Name" name="location">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-md rounded-3" style="padding:0;">
                            
                                <img src="/images/search.jpg" width="40" alt="search">
                            </button>
                        </span>
                    </div>
                </form>

                
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link btn rounded-5" href=""> Switch to Hosting </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn rounded-5" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i><img src="/images/defaultUser.jpg" alt="profile" class="profile-img1">
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#"><b>Messages</b></a></li>
                                <li><a class="dropdown-item" href="#"><b>Notifications</b></a></li>
                                <li><a class="dropdown-item" href="#"><b>Trips</b></a></li>
                                <li><a class="dropdown-item" href="#"><b>Wishlists</b></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Manage listings</a></li>
                                <li><a class="dropdown-item" href="#">Host an experience</a></li>
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Help</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>


                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
            <div class="tabbing" id="searchOption">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Search Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/searchTA">Search Travel Destinations</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="body">
        <div class="all-results">

            <div class="row min-vh-100">
                <div class="col" style="border-right:2px solid black;">
                    <div class="content" id="filterOption">
                        <h4 style="margin-top:10px;">Filter Options:</h4>
                        <form method="post" action="/property/filter" >
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Property type
                                </div>
                                <div class="filter-content">
                                    <ul style="list-style:none;">
                                        <li>
                                            <input type="hidden" class="form-control" id="destination" name="country" value="<%= country %>"  required>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="type-house" name="type_house" value="house" />
                                            <label for="type-house">House</label>
                                        </li>

                                        <li>

                                            <input type="checkbox" id="type-apartment" name="type_apartment" value="apartment" />
                                            <label for="type-apartment">Apartment</label>

                                        </li>

                                        <li>

                                            <input type="checkbox" id="type-castle" name="type_castle" value="castle" />
                                            <label for="type-castle">Castle</label>

                                        </li>
                                        <li>

                                            <input type="checkbox" id="type-guesthouse" name="type_guesthouse" value="guesthouse" />
                                            <label for="type-guesthouse">Guesthouse</label>

                                        </li>
                                        <li>

                                            <input type="checkbox" id="type-tiny" name="type_tiny" value="tiny" />
                                            <label for="type-tiny">Tiny Houses</label>

                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Price
                                </div>
                                <div class="filter-content">
                                    <div class="prices">
                                        <input type="number" min="0" placeholder="min" class="price-input" pattern="[0-9]*" id="min-price" name="min_price" />
                                        <div class="splitter" style="color:black;float:left;width:10px;text-align:center">-</div>
                                        <input type="number" min="0" placeholder="max" class="price-input" pattern="[0-9]*" id="max-price" name="max_price" />
                                    </div>
                                </div>
                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Rating
                                </div>
                                <div class="filter-content">
                                
                                    <ul style="list-style-type:none;">
                                        <li>
                                            <input type="radio" name="rating" id="5-stars" value="5"/>
                                            <label for="5-stars">5 stars</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="4-stars" value="4"/>
                                            <label for="4-stars">4 stars and above</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="3-stars" value="3"/>
                                            <label for="3-stars">3 stars and above</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="2-stars" value="2"/>
                                            <label for="2-stars">2 stars and above</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="rating" id="1-star" value="1"/>
                                            <label for="1-star">1 star and above</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Bedrooms
                                </div>
                                <div class="filter-content">
                                    <input type="number" min="1" max="9" class="input-number" pattern="[0-9]{1}" id="bedrooms" name="bedrooms" />
                                </div>
                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Beds
                                </div>
                                <div class="filter-content">
                                    <input type="number" min="1" max="9" class="input-number" pattern="[0-9]{1}" id="beds" name="beds" />
                                </div>
                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Bathrooms
                                </div>
                                <div class="filter-content">
                                    <input type="number" min="1" max="9" class="input-number" pattern="[0-9]{1}" id="bath" name="bath" />
                                </div>
                            </div>
                            <div class="filter-panel">
                                <div class="filter-title">
                                    Amenities
                                </div>

                                <div class="filter-content">
                                    <div class="expandable-collapse" id="expand">
                                        <div class="filter-sub-title">
                                            <b>Essentials</b>
                                        </div>
                                        <ul style="list-style:none;">
                                            <li>
                                                <input type="checkbox" id="amn-wifi" name="amn_wifi" value="wifi" />
                                                <label for="amn-wifi">Wifi</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-kitchen" name="amn_kitchen" value="kitchen" />
                                                <label for="amn-kitchen">Kitchen</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-washer" name="amn_washer" value="washer" />
                                                <label for="amn-washer">Washer</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-dryer" name="amn_dryer" value="dryer" />
                                                <label for="amn-dryer">Dryer</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-ac" name="amn_ac" value="ac" />
                                                <label for="amn-ac">AC</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-heater" name="amn_heater" value="heater" />
                                                <label for="amn-heater">Heater</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-tv" name="amn_tv" value="tv" />
                                                <label for="amn-tv">TV</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-iron" name="amn_iron" value="iron" />
                                                <label for="amn-iron">Dryer</label>
                                            </li>
                                        </ul>
                                        <div class="filter-sub-title">
                                            <b>Features</b>
                                        </div>
                                        <ul style="list-style:none;">
                                            <li>
                                                <input type="checkbox" id="amn-pool" name="amn_pool" value="pool" />
                                                <label for="amn-pool">Pool</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-tub" name="amn_tub" value="tub" />
                                                <label for="amn-tub">Hot tub</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-parking" name="amn_parking" value="parking" />
                                                <label for="amn-parking">Parking</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-gym" name="amn_gym" value="gym" />
                                                <label for="amn-gym">Gym</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-front" name="amn_front" value="front" />
                                                <label for="amn-front">Frontyard</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="amn-back" name="amn_back" value="back" />
                                                <label for="amn-back">Backyard</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="expandable-more" id="collapse" onclick="expand()">View more</div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-left"><button type="submit" class="btn rounded-2" style="border:1px solid black;margin-top:-30px;">Filter</button></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="result-and-sort">
                        <div class="container-fluid">
                            <table height="50px" style="width:100%">
                                <tr>
                                    <td class="result-title" style="font-size:25px;padding-left:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration:underline;">
                                    Showing results for <%= country %>:</td>
                                    <td class="sort-options" style="text-align:right">
                                        
                                            <label for="sort">Sort by Price:</label>
                                            <select name="sort" id="sort" style="width:200px;">
                                                <option value="" disabled selected hidden>Sort on Price</option>
                                                <option value="asc">Low to High</option>
                                                <option value="desc">High to Low</option>
                                            </select>
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="grid-container">
                        <!-- <div class="grid-item">
                            <div class="property-image" id="pID">
                                <a href="#"><img src="img/villa.jpg" /></a>
                            </div>
                            <div class="property-desc">
                                <table>
                                    <tr class="1-row">
                                        <td class="property-name">A beautiful villa</td>
                                        <td class="rating">4.9/5.0(340)</td>                                            </tr>
                                    <tr>
                                        <td class="location">Toronto, Canada</td>
                                    </tr>
                                    <tr>
                                        <td class="bed-count">5 bedrooms</td>
                                    </tr>
                                    <tr>
                                        <td class="rate"><span>&#36;</span>500 per night</td>
                                    </tr>
                                </table>
                            </div>
                        </div> -->
                        
                         <!-- <%/* for( let i = 0; i < result.length; i++ ) { %>
                            <div class="grid-item">
                                <div class="'property-image" id="<%# result[i]['propertyID'] %>">
                                     
                                       // put  onclick="location.href = 'room?id=<%# result[i]['propertyID'] %>';" in the property-image div.
                                        //then the room page will be accessed like 
                                       // app.get('/room', function(req, res, next) {
                                       //     res.render('room', {query : req.query.id});
                                       // });
                                     
                                    <img src="<%# result[i]['imagepath'] %>" />
                                </div>
                                <div class="property-desc">
                                    <table>
                                        <tr class="1-row">
                                            <td class="property-name"><%# result[i]['propertyname'] %></td>
                                            <td class="rating"><%# result[i]['avgrating'] %>/5.0(<%# result[i]['noofrating'] %>)</td>
                                        </tr>
                                        <tr>
                                            <td class="location"><%# result[i]['city'] %>, <%# result[i]['country'] %></td>
                                        </tr>
                                        <tr>
                                            <td class="bed-count"><%# result[i]['beds'] %></td>
                                        </tr>
                                        <tr>
                                            <td class="rate"><span>&#36;</span><%# result[i]['pricepernight'] %> per night</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        <% } */%> -->

                        <% result.forEach(element => { %>
                            <div class="grid-item">
                                <div class="property-image" id="<%= element.PROPERTYID %>">
                                     
                                       <!-- put  onclick="location.href = 'room?id=<%# result[i]['propertyID'] %>';" in the property-image div.
                                        //then the room page will be accessed like 
                                       // app.get('/room', function(req, res, next) {
                                       //     res.render('room', {query : req.query.id});
                                       // });-->
                                     
                                    <img src="<%= element.IMAGEFILE %>" id="propertyphotoes">
                                </div>
                                <div class="property-desc">
                                    <table>
                                        <tr class="1-row">
                                            <td class="property-name"><%= element.PROPERTYNAME %></td>
                                            <td class="rating"><%= element.AVGRATING %>/5.0(<%= element.NUMOFRATINGS %>)</td>
                                        </tr>
                                        <tr>
                                            <td class="location"><%= element.CITY %>, <%= element.COUNTRY %></td>
                                        </tr>
                                        <tr>
                                            <td class="bed-count"><%= element.BEDROOMCNT %></td>
                                        </tr>
                                        <tr>
                                            <td class="rate"><span>&#36;</span><%= element.PRICEPERNIGHT %> per night</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        <% }) %>
                        

                    </div>
                </div>
                
            </div>

        </div>
    </section>

    <section class="footer">

        <div class="container-fluid">
            <div class="row footer-row">
                <div class="col-lg-6 footer-column">
                    <p class="header">Hosting</p>
                    <a href="#" class="link-dark">Try hosting</a>
                    <a href="#" class="link-dark">Explore hosting resources</a>
                    <a href="#" class="link-dark">Visit our community forum</a>
                    <a href="#" class="link-dark">How to host responsibly</a>

                </div>
                <div class="col-lg-6 footer-column">
                    <p class="header">About</p>
                    <a href="#" class="link-dark">Newsroom</a>
                    <a href="#" class="link-dark">Learn about new features</a>
                    <a href="#" class="link-dark">Letter from our founders</a>
                    <a href="#" class="link-dark">Careers</a>





                </div>
            </div>

        </div>

        <div class="copyright">
            <hr>
            <span>©2022 TravelBNB,Inc.</span>
            <i class="fa-solid fa-circle footer-icon"></i>
            <a href="#" class="link-dark">Privacy</a>
            <i class="fa-solid fa-circle footer-icon"></i>
            <a href="#" class="link-dark">Terms</a>
            <i class="fa-solid fa-circle footer-icon"></i>
            <a href="#" class="link-dark">Sitemap</a>



            <a href="#" class="link-dark"><i class="fa-brands fa-instagram-square fa-lg social-media-icons"></i></a>
            <a href="#" class="link-dark"><i class="fa-brands fa-twitter fa-lg social-media-icons"></i></a>
            <a href="#" class="link-dark"><i class="fa-brands fa-facebook fa-lg social-media-icons"></i></a>
        </div>

    </section>

    <script>
        function expand() {
            var check = document.getElementById("collapse").innerHTML;
            var change = document.getElementById("expand");

            if (check == 'View more') {
                change.style.overflow = "auto";
                change.style.maxHeight = "500px";
                document.getElementById("collapse").innerHTML = "View less";
            }
            else {
                change.style.overflow = "hidden";
                change.style.maxHeight="155px";
                document.getElementById("collapse").innerHTML = "View more";
            }
        }
        
        
       
    </script>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>
